.options {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	// .options__item
	&__item {
		position: relative;
		cursor: pointer;

		&:not(:last-child) {
			margin-bottom: rem(15);
		}
	}
	// .options__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;

		&:checked + .options__label:before {
		}

		&:checked + .options__label:after {
			opacity: 1;
		}
	}
	// .options__label
	&__label {
		display: flex;
		align-items: flex-start;
		gap: rem(10);
		cursor: pointer;

		&:before {
			content: '';
			align-self: flex-start;
			flex: none;
			width: rem(20);
			height: rem(20);
			border: rem(1) solid $bg_dark_4;
			border-radius: rem(3);
			background-color: $main_bg;
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: rem(20);
			height: rem(20);
			border-radius: rem(3);
			background: $accent_gradient;
			opacity: 0;
			transition: opacity 0.3s ease 0s;
		}
	}
	// .options__text
	&__text {
		font-size: rem(14);
		line-height: math.div(20, 14);
	}
}
