@use 'sass:math';

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import 'base/mixins';

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин

// Подключить если есть локальные файлы шрифтов
@import 'fonts/fonts';

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
//@import "fonts/icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Настройки шаблона ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: 'GolosText';
$fontFamilySecond: 'Unbounded';
$fontSize: rem(15); // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #fff; // Цвет шрифта по умолчанию
$main_bg: #252525;
$bg_dark: #343434;
$bg_dark_2: #2b2a29;
$bg_dark_3: #1a1a1a;
$bg_dark_4: #464646;
$bg_dark_5: linear-gradient(90deg, #343434 0%, #1a1a1a 100%);
$bg_dark_6: #212121;
$bg_dark_7: #202020;
$bg_dark_8: #1b1b1b;
$gray: #9c9c9c;
$gray_2: #8b8b8b;
$gray_3: #e3e3e3;
$gray_4: #868686;
$gray_5: #bfbfbf;
$gray_6: #adadad;
$gray_7: #b5b5b5;
$gray_8: #8a8a8a;
$gray_9: #a2a2a2;
$gray_10: #4f4f4f;
$gray_11: #cbcbcb;
$gray_12: #888;
$gray_13: #b7b7b7;
$gray_14: #454545;
$gray_15: #b0b0b0;
$blue: #419fd9;
$accent: #68b222;
$accent_light: #b7fd75;
$accent_light_2: #82b900;
$accent_gradient: linear-gradient(45deg, #68b222 0%, #95e747 100%);
$accent_gradient_2: radial-gradient(70.71% 70.71% at 50% 50%, rgb(149, 231, 71) 0%, rgb(104, 178, 34) 100%);
$error_gradient: radial-gradient(70.71% 70.71% at 50% 50%, rgb(231, 71, 71) 0%, rgb(178, 34, 34) 100%);
$white: #fff;
$black: #000;
// Настройки адаптивной сетки ===============================================================================================================================================================================================================================================================================================

// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1170;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 32;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$laptop: em(1319.98);
$tablet2: em(1023.98); //
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнуление ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import 'base/null';

// Стили тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================

body {
  background: $main_bg;
  // Скролл заблокирован
  .lock & {
    overflow: hidden;
    touch-action: none;
  }
  // Сайт загружен
  .loaded & {
  }
}

// Оболочка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  // Прижимаем footer
  > main {
    flex: 1 1 auto;
  }
  // Фикс для слайдеров
  > * {
    min-width: 0;
  }
}
// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {
  // Отзывчивая
  [class*='__container'] {
    @if ($maxWidthContainer>0) {
      max-width: rem($maxWidthContainer);
      box-sizing: content-box;
      margin: 0 auto;
    }
    @if ($containerPadding>0) {
      padding: 0 rem(math.div($containerPadding, 2));
    }
  }
} @else {
  // По брейк-поинтам
  [class*='__container'] {
    margin: 0 auto;
    @if ($maxWidthContainer>0) {
      max-width: rem($maxWidthContainer);
      box-sizing: content-box;
    } @else {
      @if ($containerPadding>0) {
        padding: 0 rem(math.div($containerPadding, 2));
      }
    }
    @media (max-width: $pc) {
      max-width: rem(970);
    }
    @media (max-width: $tablet) {
      max-width: rem(750);
    }
    @media (max-width: $mobile) {
      max-width: none;
      @if ($containerPadding>0 and $maxWidthContainer>0) {
        padding: 0 rem(math.div($containerPadding, 2));
      }
    }
  }
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import 'base';

// Подключение стилей общих элементов проекта
@import 'common';

// Подключение стилей отдельных блоков
@import 'header';
@import 'footer';

// Подключение стилей отдельных страниц
@import 'home';
@import 'modules/product-list';
@import 'modules/advantages';
@import 'modules/production';
@import 'modules/reviews';
@import 'modules/callback';
@import 'modules/about';
@import 'modules/principles';
@import 'modules/map';
@import 'modules/team';
@import 'modules/delpay';
@import 'modules/lumber-calc';
@import 'modules/catalog';
@import 'modules/card';
@import 'modules/basket';
